/* src/styles/User.css */

.user-container {
    display: flex;
    flex-direction: column; /* Располагаем шапку и основной контент вертикально */
    min-height: 100vh; /* Занимаем всю высоту экрана */
    width: 100%; /* Занимаем всю ширину экрана */
    margin: 0; /* Убираем внешние отступы */
    background-color: #f0f0f0;
}

/* Стили для шапки */
.user-header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-header .user-info {
    font-weight: bold;
    font-size: 1.2em;
}

.user-header button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.user-header button:hover {
    background-color: #0056b3;
}

/* Стили для основного контента (меню и контент) */
.user-main-content {
    display: flex; /* Разделяем на меню и контент */
    flex: 1; /* Занимает все доступное пространство */
}

/* Стили для меню */
.user-menu {
    width: 200px;
    background-color: #ddd;
    padding: 20px;
}

.user-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-menu li {
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-menu li:hover {
    background-color: #ccc;
}

/* Стили для контента */
.user-content {
    flex: 1;
    padding: 20px;
}

.user-content h2 {
    color: #333;
    margin-bottom: 20px;
}

.user-content p {
    margin-bottom: 10px;
    color: #555;
}

.user-content .error {
    color: red;
    margin-bottom: 10px;
}

/* Стили для кнопок администратора */
.admin-buttons {
    margin-bottom: 20px;
}
.oper-buttons {
    margin-bottom: 20px;
}
.quest-buttons {
    margin-bottom: 20px;
}

.admin-buttons button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.admin-buttons button:hover {
    background-color: #218838;
}

.oper-buttons button {
    background-color: #2878a7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.oper-buttons button:hover {
    background-color: #217c88;
}

.quest-buttons button {
    background-color: #a77f28;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.quest-buttons button:hover {
    background-color: #885321;
}